[user]
        name = Tumas Bajoras
        email = tumas.bajoras@gmail.com
[color]
        diff = auto
        status = auto
        branch = auto
        grep = auto
        interactive = auto
[giggle]
        main-window-maximized = true
        main-window-geometry = 0x0+0+0
        history-view-vpane-position = 282
        main-window-view = HistoryView
        file-view-vpane-position = 552
[alias]
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lgn = "!f() { git log --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative $@ | git name-rev --stdin --name-only ; } ; f"
        vim = !git diff | vim -R -
        last = cat-file commit HEAD
        stat = diff --stat
        staged = diff --staged
        ci = commit
        co = checkout
        st = status
        ctags = !.git/hooks/ctags
        g = grep --break --heading --line-number
        bs = "for-each-ref --sort=-committerdate refs/heads/ --format=' %1B[0;31m%(authordate:relative)%1B[m %09%(refname)'"
        bsl = "for-each-ref --sort=-committerdate refs/heads/ --format=' %1B[0;31m%(authordate)%1B[m%09%(refname)'"
[init]
        templatedir = /home/tumas/bin/dotfiles/.git_template
[push]
	default = simple
